label {
    display: block;
    font-size: 25px;
    margin-bottom: 3px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.form-group input.form-control, 
.form-group select {
    width: 30%; /* Ajusta el ancho */
    margin: 10px auto; /* Centra los inputs y selects */
    display: block;
    padding: 15px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #cad6e4;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-primary:hover {
    background-color: #676e77;
}

div {
    width: 100%;
    margin: 0 auto; /* Centrar el contenedor */
}
